:root {
    color-scheme: light dark;
    --main-bg-color: light-dark(rgb(224, 224, 224), rgb(32, 32, 32));
    --main-fg-color: light-dark(rgb(192, 192, 192), rgb(64, 64, 64));
    --main-txt-color: lihgt-dark(rgb(32, 32, 32), rgb(255, 224, 224));

    touch-action: none;
    background-color: var(--main-bg-color);
}

#content {
    width: 100%;
    height: 100%;
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: thin solid var(--main-fg-color);
    border-radius: 10px;
}

#menu-top {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    width: 99%;
    height: 10%;
}

#undo {}

#redo {}

#menu-bottom {
    position: absolute;
    left: 50%;
    top: 99%;
    transform: translate(-50%, -100%);
    width: 99%;
    height: 10%;
    overflow: hidden;
    border: thin solid var(--main-fg-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

.circle-button {
    float: left;
    width: 10%;
    height: auto;
    max-width: 50px;
    aspect-ratio: 1 / 1;
    margin: 0.5%;
    font: 200% cursive;
    border: thin solid var(--main-fg-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
    transition: var(--main-bg-color) 0.3s ease;
}

.circle-button:active {
    background-color: var(--main-fg-color);
}