:root {
    color-scheme: light dark;
    --main-bg-color: light-dark(rgb(224, 224, 224), rgb(32, 32, 32));
    --main-fg-color: light-dark(rgb(192, 192, 192), rgb(64, 64, 64));
    --main-font-color: light-dark(rgb(64, 64, 64), rgb(192, 192, 192));

    background-color: var(--main-bg-color);
}

#content {
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 97.5%;
    height: 97.5%;
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: thin solid var(--main-fg-color);
    border-radius: 10px;
}

#menu-top {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -0%);
    width: 100%;
    height: 10%;
}

#undo {}

#redo {}

#menu-bottom {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 10%;
    overflow: hidden;
    border: thin solid var(--main-fg-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

.circle-button {
    width: 5%;
    min-width: 32px;
    max-width: 48px;
    aspect-ratio: 1 / 1;
    margin: 0.5%;
    text-align: center;
    font: 100% sans-serif;
    color: var(--main-font-color);
    overflow: hidden;
    border: thin solid var(--main-fg-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

.circle-button:active {
    background-color: var(--main-fg-color);
    scale: 0.95;
}